
#bg{
    color: black;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
}

#login{
    overflow: hidden;
    background-color: #fff; 
    background-image:url('../img/stack-books-isolated-white_821599-786.avif');
    background-size:contain;
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 150px;
    filter: drop-shadow(2px 4px 6px black);
    /* filter: blur(8px); */
    
    /* To make sure form content isn't blurred */
    position: relative;
}

#form-container{
    z-index: 1; /* Make sure this stays above the background */
}

/* Make sure the form elements are not blurred */
#form-container * {
    filter: none;
}

#loginDiv{
    border-style: inset;
    border-start-end-radius: 80px 80px;
    border-bottom-style: groove;
    border: 2px solid #c1c4df;
    /* border-radius: 88px; */
    background-color: #b9cbd3;
    z-index: 1; 
    border-bottom-left-radius: 17%
    /* border-radius: 20px solid #571a1a; */
}

/* a{
    color: black;
    font-family: cursive;
} */